.item {
  margin-right: 15px;
  color: #644f9c;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.loginBtn {
  background-color: #ffffff;
  height: 50px;
  width: 200px;
  border: none;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #9c9c9c, -5px -5px 5px #ffffff;
}
.signBtn {
  background-color: #ff6f00;
  height: 35px;
  width: 100px;
  text-align: center;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #9c9c9c, -5px -5px 5px #ffffff;
}

.or-divider {
  position: relative;
  margin: 26px 0px;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  height: 0px;
  border: 1px dashed #644f9c;
}
.span {
  color: #644f9c;
  position: relative;
  top: -20px;
  background-color: #F2F2F2;
  padding: 0 20px;
  left: 40%;
  margin-left: -16px;
  font-size: 30px;
}

/* 
    <Nav className="px-5 w-4/5">
              <Nav.Link href="#home" className="item">
                HOME
              </Nav.Link>
              <Nav.Link href="#link" className="item">
                ADVERTISERS
              </Nav.Link>
              <Nav.Link href="#link" className="item">
                PUBLISHERS
              </Nav.Link>
              <Nav.Link href="#link" className="item">
                INFLUENCERS
              </Nav.Link>
              <Nav.Link href="#link" className="item">
                AD FORMATS
              </Nav.Link>
              <Nav.Link href="#link" className="item">
                BLOG
              </Nav.Link>
              <Nav.Link href="#link" className="item">
                CONTACT US
              </Nav.Link>
            </Nav>

*/
